.mui-table-view,
.mui-grid-view {
  background-color: #fff !important;
  height: 100%;

  li {
    border: 0 !important;

    div {
      font-size: 13px !important;
    }
  }
  img {
    width: 60px;
    height: 60px;
  }
}